{% extends "base.html" %}

{% set active_page = "news" %}
{% block title %}News{% endblock %}

{% block content %}
            <a href="{{ SITEURL }}/news.atom" class="feed">News Feed</a>
            <h1>News</h1>
            {% for article in dates %}
            <div class="a_header">
                <span class="a_title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></span>
                <span class="a_date">{{ article.date }}</span>
            </div>
            <div class="a_content">
                {{ article.content }}
            </div>
            {% endfor %}
{% endblock %}
