{% set active_page = active_page|default('home') -%}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} — Taisei Project</title>
        <link rel="alternate" type="application/atom+xml" title="News" href="{{ SITEURL }}/news.atom" />
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" type="text/css" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.ico" />
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>
    <body class="background">
        <div id="head"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/banner.png" /></div>
        <div id="nav">
            {% for caption, id, href, subtext in NAVBAR %}
            {% if id == 'play' %}
            <div class="dropdown">
                <button class="dropbtn">{{ caption | e }}</button>
                <div class="dropdown-content">
                    {% for caption, id, phref, subtext in href %}
                    <p><a href="{% if 'http' not in href %}{{ SITEURL }}{% endif %}{{ phref|e }}">{{ caption | e}}{% if subtext %} <span class="subtext">({{ subtext }})</span>{% endif %}</a></p>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <a{% if id == active_page %} class="this-page"{% endif %} href="{% if 'http' not in href %}{{ SITEURL }}{% endif %}{{ href|e }}">{{ caption | e}}{% if subtext %} <span class="subtext">({{ subtext }})</span>{% endif %}</a>
            {% endif %}
            {% endfor %}
        </div>

        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
