{% set active_page = active_page|default('home') -%}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} — Taisei Project</title>
        <link rel="alternate" type="application/atom+xml" title="News" href="/news.atom" />
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" type="text/css" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.ico" />
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>
    <body class="background">
        <div id="head"></div>

        <div id="nav"><div>
            {% for caption, id, href, subtext in NAVBAR %}
            <a{% if id == active_page %} class="this-page"{% endif %} href="{{ href|e }}">{{ caption | e}}{% if subtext %} <span class="subtext">({{ subtext }})</span>{% endif %}</a>
            {% endfor %}
        </div></div>

        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
